<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <servlet-name>ToEmpServlet</servlet-name>
        <servlet-name>ToEmpPosServlet</servlet-name>
        <servlet-name>AddEmpServlet</servlet-name>
        <servlet-name>EditEmpServlet</servlet-name>
        <servlet-name>SetEmpAjaxServlet</servlet-name>
        <servlet-name>AddEmpPosServlet</servlet-name>
        <servlet-name>EditEmpPosServlet</servlet-name>
        <servlet-name>AddConstraintServlet</servlet-name>
        <servlet-name>DelEmpAjaxServlet</servlet-name>
        <servlet-name>SetEmpPosAjaxServlet</servlet-name>
        <servlet-name>DelEmpPosAjaxServlet</servlet-name>
        <servlet-name>ForTestThaiLanguage</servlet-name>
        <servlet-name>ToEmpWorkHistServlet</servlet-name>
        <servlet-name>FilterWorkByDateServlet</servlet-name>
        <servlet-name>ToEmpPaidServlet</servlet-name>
        <servlet-name>SetEmpPaidServlet</servlet-name>
        <servlet-name>ToEmpCheckServlet</servlet-name>
        <servlet-name>ClockInAjaxServlet</servlet-name>
        <servlet-name>ClockOutAjaxServlet</servlet-name>
        <servlet-name>CheckEmpPosAjaxServlet</servlet-name>
        <servlet-name>PayEmpAjaxServlet</servlet-name>
        <servlet-name>ToMenuTypeServlet</servlet-name>
        <servlet-name>SetMenuSetAjaxServlet</servlet-name>
        <servlet-name>AddMenuTypeServlet</servlet-name>
        <servlet-name>DelMenuTypeAjaxServlet</servlet-name>
        <servlet-name>SetMenuAjaxServlet</servlet-name>
        <servlet-name>EditMenuTypeServlet</servlet-name>
        <servlet-name>DelMenuSetAjaxServlet</servlet-name>
        <servlet-name>DelMenuAjaxServlet</servlet-name>
        <servlet-name>ToMenuSetServlet</servlet-name>
        <servlet-name>ToMenuCustServlet</servlet-name>
        <servlet-name>AddMenuSetToBranchServlet</servlet-name>
        <servlet-name>ManageMenuSetServlet</servlet-name>
        <servlet-name>ToMaterialServlet</servlet-name>
        <servlet-name>ToMaterialTypeServlet</servlet-name>
        <servlet-name>AddMaterialTypeServlet</servlet-name>
        <servlet-name>DelMaterialTypeAjaxServlet</servlet-name>
        <servlet-name>EditMaterialTypeServlet</servlet-name>
        <servlet-name>AddMaterialServlet</servlet-name>
        <servlet-name>DelMaterialAjaxServlet</servlet-name>
        <servlet-name>EditMaterialServlet</servlet-name>
        <servlet-name>ManageEmpServlet</servlet-name>
        <servlet-name>ManageEmpPosServlet</servlet-name>
        <servlet-name>ManageMaterialTypeServlet</servlet-name>
        <servlet-name>ManageMaterialServlet</servlet-name>
        <servlet-name>ManageMenuTypeServlet</servlet-name>
        <servlet-name>ManageMenuServlet</servlet-name>
        <servlet-name>AddMenuCustServlet</servlet-name>
        <servlet-name>ManageMenuCustServlet</servlet-name>
        <servlet-name>DelMenuConfigAjaxServlet</servlet-name>
        <servlet-name>SetMenuMaterialAjaxServlet</servlet-name>
        <servlet-name>AddMenuToBranchServlet</servlet-name>
        <servlet-name>AddMenuSetServlet</servlet-name>
        <servlet-name>EditMenuSetServlet</servlet-name>
        <servlet-name>ToMenuServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToEmpServlet</servlet-name>
        <servlet-class>controller.ToEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToEmpPosServlet</servlet-name>
        <servlet-class>controller.ToEmpPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmpServlet</servlet-name>
        <servlet-class>controller.AddEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmpServlet</servlet-name>
        <servlet-class>controller.EditEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetEmpAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.SetEmpAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmpPosServlet</servlet-name>
        <servlet-class>controller.AddEmpPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEmpPosServlet</servlet-name>
        <servlet-class>controller.EditEmpPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddConstraintServlet</servlet-name>
        <servlet-class>controller.AddConstraintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelEmpAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.DelEmpAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetEmpPosAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.SetEmpPosAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelEmpPosAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.DelEmpPosAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForTestThaiLanguage</servlet-name>
        <servlet-class>controller.ForTestThaiLanguage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToEmpWorkHistServlet</servlet-name>
        <servlet-class>controller.ToEmpWorkHistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterWorkByDateServlet</servlet-name>
        <servlet-class>controller.FilterWorkByDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToEmpPaidServlet</servlet-name>
        <servlet-class>controller.ToEmpPaidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetEmpPaidServlet</servlet-name>
        <servlet-class>ajaxcontroller.SetEmpPaidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToEmpCheckServlet</servlet-name>
        <servlet-class>controller.ToEmpCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClockInAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.ClockInAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClockOutAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.ClockOutAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmpPosAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.CheckEmpPosAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayEmpAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.PayEmpAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToMenuTypeServlet</servlet-name>
        <servlet-class>controller.ToMenuTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMenuSetAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.SetMenuSetAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMenuTypeServlet</servlet-name>
        <servlet-class>controller.AddMenuTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelMenuTypeAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.DelMenuTypeAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMenuAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.SetMenuAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMenuTypeServlet</servlet-name>
        <servlet-class>controller.EditMenuTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelMenuSetAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.DelMenuSetAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelMenuAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.DelMenuAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToMenuSetServlet</servlet-name>
        <servlet-class>controller.ToMenuSetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToMenuCustServlet</servlet-name>
        <servlet-class>controller.ToMenuCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMenuSetToBranchServlet</servlet-name>
        <servlet-class>controller.AddMenuSetToBranchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMenuSetServlet</servlet-name>
        <servlet-class>controller.ManageMenuSetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToMaterialServlet</servlet-name>
        <servlet-class>controller.ToMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToMaterialTypeServlet</servlet-name>
        <servlet-class>controller.ToMaterialTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMaterialTypeServlet</servlet-name>
        <servlet-class>controller.AddMaterialTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelMaterialTypeAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.DelMaterialTypeAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMaterialTypeServlet</servlet-name>
        <servlet-class>controller.EditMaterialTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMaterialServlet</servlet-name>
        <servlet-class>controller.AddMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelMaterialAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.DelMaterialAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMaterialServlet</servlet-name>
        <servlet-class>controller.EditMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEmpServlet</servlet-name>
        <servlet-class>controller.ManageEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageEmpPosServlet</servlet-name>
        <servlet-class>controller.ManageEmpPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMaterialTypeServlet</servlet-name>
        <servlet-class>controller.ManageMaterialTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMaterialServlet</servlet-name>
        <servlet-class>controller.ManageMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMenuTypeServlet</servlet-name>
        <servlet-class>controller.ManageMenuTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMenuServlet</servlet-name>
        <servlet-class>controller.ManageMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMenuCustServlet</servlet-name>
        <servlet-class>controller.AddMenuCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMenuCustServlet</servlet-name>
        <servlet-class>controller.ManageMenuCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelMenuConfigAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.DelMenuConfigAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMenuMaterialAjaxServlet</servlet-name>
        <servlet-class>ajaxcontroller.SetMenuMaterialAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMenuToBranchServlet</servlet-name>
        <servlet-class>controller.AddMenuToBranchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMenuSetServlet</servlet-name>
        <servlet-class>controller.AddMenuSetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMenuSetServlet</servlet-name>
        <servlet-class>controller.EditMenuSetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToMenuServlet</servlet-name>
        <servlet-class>controller.ToMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>controller.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToEmpServlet</servlet-name>
        <url-pattern>/ToEmpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToEmpPosServlet</servlet-name>
        <url-pattern>/ToEmpPosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmpServlet</servlet-name>
        <url-pattern>/AddEmpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmpServlet</servlet-name>
        <url-pattern>/EditEmpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetEmpAjaxServlet</servlet-name>
        <url-pattern>/SetEmpAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmpPosServlet</servlet-name>
        <url-pattern>/AddEmpPosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmpPosServlet</servlet-name>
        <url-pattern>/EditEmpPosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddConstraintServlet</servlet-name>
        <url-pattern>/AddConstraintServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelEmpAjaxServlet</servlet-name>
        <url-pattern>/DelEmpAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetEmpPosAjaxServlet</servlet-name>
        <url-pattern>/SetEmpPosAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelEmpPosAjaxServlet</servlet-name>
        <url-pattern>/DelEmpPosAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToEmpWorkHistServlet</servlet-name>
        <url-pattern>/ToEmpWorkHistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterWorkByDateServlet</servlet-name>
        <url-pattern>/FilterWorkByDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToEmpPaidServlet</servlet-name>
        <url-pattern>/ToEmpPaidServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetEmpPaidServlet</servlet-name>
        <url-pattern>/SetEmpPaidServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToEmpCheckServlet</servlet-name>
        <url-pattern>/ToEmpCheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClockInAjaxServlet</servlet-name>
        <url-pattern>/ClockInAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClockOutAjaxServlet</servlet-name>
        <url-pattern>/ClockOutAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmpPosAjaxServlet</servlet-name>
        <url-pattern>/CheckEmpPosAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayEmpAjaxServlet</servlet-name>
        <url-pattern>/PayEmpAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToMenuTypeServlet</servlet-name>
        <url-pattern>/ToMenuTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetMenuSetAjaxServlet</servlet-name>
        <url-pattern>/SetMenuSetAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMenuTypeServlet</servlet-name>
        <url-pattern>/AddMenuTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelMenuTypeAjaxServlet</servlet-name>
        <url-pattern>/DelMenuTypeAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetMenuAjaxServlet</servlet-name>
        <url-pattern>/SetMenuAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMenuTypeServlet</servlet-name>
        <url-pattern>/EditMenuTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelMenuSetAjaxServlet</servlet-name>
        <url-pattern>/DelMenuSetAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelMenuAjaxServlet</servlet-name>
        <url-pattern>/DelMenuAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToMenuSetServlet</servlet-name>
        <url-pattern>/ToMenuSetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToMenuCustServlet</servlet-name>
        <url-pattern>/ToMenuCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMenuSetToBranchServlet</servlet-name>
        <url-pattern>/AddMenuSetToBranchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMenuSetServlet</servlet-name>
        <url-pattern>/ManageMenuSetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToMaterialServlet</servlet-name>
        <url-pattern>/ToMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToMaterialTypeServlet</servlet-name>
        <url-pattern>/ToMaterialTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMaterialTypeServlet</servlet-name>
        <url-pattern>/AddMaterialTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelMaterialTypeAjaxServlet</servlet-name>
        <url-pattern>/DelMaterialTypeAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMaterialTypeServlet</servlet-name>
        <url-pattern>/EditMaterialTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMaterialServlet</servlet-name>
        <url-pattern>/AddMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelMaterialAjaxServlet</servlet-name>
        <url-pattern>/DelMaterialAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMaterialServlet</servlet-name>
        <url-pattern>/EditMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEmpServlet</servlet-name>
        <url-pattern>/ManageEmpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEmpPosServlet</servlet-name>
        <url-pattern>/ManageEmpPosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMaterialTypeServlet</servlet-name>
        <url-pattern>/ManageMaterialTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMaterialServlet</servlet-name>
        <url-pattern>/ManageMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMenuTypeServlet</servlet-name>
        <url-pattern>/ManageMenuTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMenuServlet</servlet-name>
        <url-pattern>/ManageMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMenuCustServlet</servlet-name>
        <url-pattern>/AddMenuCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMenuCustServlet</servlet-name>
        <url-pattern>/ManageMenuCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelMenuConfigAjaxServlet</servlet-name>
        <url-pattern>/DelMenuConfigAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetMenuMaterialAjaxServlet</servlet-name>
        <url-pattern>/SetMenuMaterialAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMenuToBranchServlet</servlet-name>
        <url-pattern>/AddMenuToBranchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMenuSetServlet</servlet-name>
        <url-pattern>/AddMenuSetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMenuSetServlet</servlet-name>
        <url-pattern>/EditMenuSetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToMenuServlet</servlet-name>
        <url-pattern>/ToMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
